body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#clearDataButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    cursor: pointer;
}

#clearDataButton:hover {
    background-color: #e63946;
}